In [2]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm

In [3]:
allFiles=[]
for file in os.listdir('C:\\Users\\ankus\\T-20 Score predictor\\dataset'):
    allFiles.append(os.path.join('C:\\Users\\ankus\\T-20 Score predictor\\dataset', file))

In [4]:
allFiles[0:10]

['C:\\Users\\ankus\\T-20 Score predictor\\dataset\\1001349.yaml',
 'C:\\Users\\ankus\\T-20 Score predictor\\dataset\\1001351.yaml',
 'C:\\Users\\ankus\\T-20 Score predictor\\dataset\\1001353.yaml',
 'C:\\Users\\ankus\\T-20 Score predictor\\dataset\\1004729.yaml',
 'C:\\Users\\ankus\\T-20 Score predictor\\dataset\\1007655.yaml',
 'C:\\Users\\ankus\\T-20 Score predictor\\dataset\\1007657.yaml',
 'C:\\Users\\ankus\\T-20 Score predictor\\dataset\\1007659.yaml',
 'C:\\Users\\ankus\\T-20 Score predictor\\dataset\\1019979.yaml',
 'C:\\Users\\ankus\\T-20 Score predictor\\dataset\\1019981.yaml',
 'C:\\Users\\ankus\\T-20 Score predictor\\dataset\\1019983.yaml']

In [5]:
final_data=pd.DataFrame()
cnt=1
for file in tqdm(allFiles):
    with open(file, 'r') as f:
        df=pd.json_normalize(safe_load(f))
        df['match_id']=cnt
        final_data=pd.concat([final_data,df],ignore_index=True)
        cnt=cnt+1
final_data

100%|█████████▉| 4008/4009 [1:29:58<00:01,  1.35s/it]

NotImplementedError:

In [6]:
final_df_copy=final_data.copy()

In [7]:
final_data

,innings,meta.data_version,meta.created,meta.revision,info.balls_per_over,info.dates,info.gender,info.match_type,info.outcome.by.wickets,info.outcome.winner,...,info.registry.people.Muhammad Kaleem,info.registry.people.Usman Mushtaq,info.registry.people.Mohammad Shahid,info.registry.people.Muktar Ali,info.registry.people.Mohammad Usman,info.registry.people.VS Wategaonkar,info.registry.people.Farhan Ahmed,info.registry.people.Khurram Manzoor,info.registry.people.P Negi,info.registry.people.Hafiz Qaleem
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.91,2017-02-18,2,6.0,[2017-02-17],male,T20,5.0,Sri Lanka,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",0.91,2017-02-19,2,6.0,[2017-02-19],male,T20,2.0,Sri Lanka,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'1st innings': {'team': 'Australia', 'delive...",0.91,2017-02-23,1,6.0,[2017-02-22],male,T20,NaN,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.91,2016-09-12,1,6.0,[2016-09-05],male,T20,NaN,Hong Kong,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.91,2016-06-19,1,6.0,[2016-06-18],male,T20,NaN,Zimbabwe,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4003,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.91,2016-03-05,2,6.0,[2016-03-04],male,T20,6.0,Pakistan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",0.91,2016-03-08,1,6.0,[2016-03-06],male,T20,8.0,India,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,"[{'1st innings': {'team': 'Netherlands', 'deli...",0.91,2016-02-03,1,6.0,[2016-02-03],male,T20,NaN,Netherlands,...,NaN,NaN,NaN,NaN,cee89f44,NaN,927694f7,NaN,NaN,f566cd7d
4006,"[{'1st innings': {'team': 'Australia', 'delive...",0.91,2016-09-12,1,6.0,[2016-09-06],male,T20,NaN,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.91,2016-09-12,1,6.0,[2016-09-09],male,T20,4.0,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
final_data = final_data.loc[:, ['innings', 'info.dates', 'info.gender', 'info.match_type', 'info.outcome.winner', 
'info.overs', 'info.player_of_match', 'info.teams', 'info.toss.decision', 
'info.toss.winner', 'info.umpires', 'info.venue', 'match_id', 'info.city']]

In [9]:
final_data

,innings,info.dates,info.gender,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],male,T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],male,T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria
2,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],male,T20,Australia,20,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],male,T20,Hong Kong,20,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4,Londonderry
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],male,T20,Zimbabwe,20,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4003,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],male,T20,Pakistan,20,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,4004,Mirpur
4004,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],male,T20,India,20,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,4005,Mirpur
4005,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],male,T20,Netherlands,20,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,4006,Dubai
4006,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],male,T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,4007,NaN
4007,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],male,T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,4008,Colombo

In [10]:
final_data['info.overs'].value_counts()

info.overs
20    3996
50      12
Name: count, dtype: int64

In [11]:
final_data=final_data[final_data['info.overs']==20]
final_data.drop(columns=['info.overs', 'info.match_type'], inplace=True)

C:\Users\ankus\AppData\Local\Temp\ipykernel_17992\207620007.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data.drop(columns=['info.overs', 'info.match_type'], inplace=True)

In [12]:
final_data

,innings,info.dates,info.gender,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],male,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],male,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria
2,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],male,Australia,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],male,Hong Kong,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4,Londonderry
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],male,Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4003,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],male,Pakistan,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,4004,Mirpur
4004,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],male,India,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,4005,Mirpur
4005,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],male,Netherlands,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,4006,Dubai
4006,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],male,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,4007,NaN
4007,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],male,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,4008,Colombo

In [13]:
final_data.drop(columns=['info.umpires'], inplace=True)

C:\Users\ankus\AppData\Local\Temp\ipykernel_17992\653243914.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data.drop(columns=['info.umpires'], inplace=True)

In [14]:
final_data

,innings,info.dates,info.gender,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],male,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],male,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"Simonds Stadium, South Geelong",2,Victoria
2,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],male,Australia,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,Adelaide Oval,3,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],male,Hong Kong,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"Bready Cricket Club, Magheramason",4,Londonderry
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],male,Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",field,India,Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4003,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],male,Pakistan,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,Shere Bangla National Stadium,4004,Mirpur
4004,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],male,India,[S Dhawan],"[Bangladesh, India]",field,India,Shere Bangla National Stadium,4005,Mirpur
4005,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],male,Netherlands,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,ICC Academy,4006,Dubai
4006,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],male,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,Pallekele International Cricket Stadium,4007,NaN
4007,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],male,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,R Premadasa Stadium,4008,Colombo

In [15]:
import pickle
pickle.dump(final_data, open('dataset_1new.pkl', 'wb'))

In [16]:
matches=pickle.load(open('dataset_1new.pkl', 'rb'))

In [17]:
matches

,innings,info.dates,info.gender,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],male,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],male,Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"Simonds Stadium, South Geelong",2,Victoria
2,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],male,Australia,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,Adelaide Oval,3,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],male,Hong Kong,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"Bready Cricket Club, Magheramason",4,Londonderry
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],male,Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",field,India,Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4003,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],male,Pakistan,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,Shere Bangla National Stadium,4004,Mirpur
4004,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],male,India,[S Dhawan],"[Bangladesh, India]",field,India,Shere Bangla National Stadium,4005,Mirpur
4005,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],male,Netherlands,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,ICC Academy,4006,Dubai
4006,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],male,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,Pallekele International Cricket Stadium,4007,NaN
4007,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],male,Australia,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,R Premadasa Stadium,4008,Colombo

In [18]:
matches.iterrows()

In [19]:
matches.isnull().sum()

innings                   0
info.dates                0
info.gender               0
info.outcome.winner     116
info.player_of_match    399
info.teams                0
info.toss.decision        0
info.toss.winner          0
info.venue                0
match_id                  0
info.city               178
dtype: int64

In [22]:
count = 1
delivery_df = pd.DataFrame()
for index, row in matches.iterrows():
    count+=1
    ball_of_match = []
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    gender=[]
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            gender.append(row['info.gender'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    loop_df = pd.DataFrame({
            'match_id':match_id,
            'gender':gender,
            'teams':teams,
            'batting_team':batting_team,
            'ball':ball_of_match,
            'batsman':batsman,
            'bowler':bowler,
            'runs':runs,
            'player_dismissed':player_of_dismissed,
            'city':city,
            'venue':venue
        })
    #delivery_df = delivery_df.append(loop_df)
    delivery_df=pd.concat([delivery_df,loop_df],ignore_index=True)

In [23]:
delivery_df

,match_id,gender,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,male,"[Australia, Sri Lanka]",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
1,2,male,"[Australia, Sri Lanka]",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
2,2,male,"[Australia, Sri Lanka]",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground
3,2,male,"[Australia, Sri Lanka]",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground
4,2,male,"[Australia, Sri Lanka]",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...,...,...,...
486720,3997,male,"[Sri Lanka, Australia]",Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium
486721,3997,male,"[Sri Lanka, Australia]",Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium
486722,3997,male,"[Sri Lanka, Australia]",Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium
486723,3997,male,"[Sri Lanka, Australia]",Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium
486724,3997,male,"[Sri Lanka, Australia]",Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium

In [24]:
def bowling(row):
    for team in row['teams']:
        if team != row['batting_team']:
            return team

In [25]:
delivery_df['bowling_team'] = delivery_df.apply(bowling,axis=1)

In [26]:
delivery_df

,match_id,gender,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,male,"[Australia, Sri Lanka]",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
1,2,male,"[Australia, Sri Lanka]",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
2,2,male,"[Australia, Sri Lanka]",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
3,2,male,"[Australia, Sri Lanka]",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
4,2,male,"[Australia, Sri Lanka]",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...,...,...
486720,3997,male,"[Sri Lanka, Australia]",Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
486721,3997,male,"[Sri Lanka, Australia]",Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium,Australia
486722,3997,male,"[Sri Lanka, Australia]",Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium,Australia
486723,3997,male,"[Sri Lanka, Australia]",Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium,Australia
486724,3997,male,"[Sri Lanka, Australia]",Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia

In [27]:
delivery_df.drop(columns=['teams'],inplace=True)

In [28]:
teams = [
    'Australia',
    'India',
    'Bangladesh',
    'New Zealand',
    'South Africa',
    'England',
    'West Indies',
    'Pakistan',
    'Sri Lanka'    
]

In [29]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]

In [30]:
delivery_df

,match_id,gender,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,male,Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
1,2,male,Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
2,2,male,Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
3,2,male,Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
4,2,male,Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...,...
486720,3997,male,Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
486721,3997,male,Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium,Australia
486722,3997,male,Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium,Australia
486723,3997,male,Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium,Australia
486724,3997,male,Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia

In [31]:
output = delivery_df[['match_id','gender','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]

In [32]:
output

,match_id,gender,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,male,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,2,male,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,male,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,2,male,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,2,male,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...,...
486720,3997,male,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium
486721,3997,male,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium
486722,3997,male,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium
486723,3997,male,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium
486724,3997,male,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium

In [33]:
pickle.dump(output,open('dataset_2new.pkl','wb'))

In [34]:
output['gender'].value_counts()

gender
male      99098
female    62981
Name: count, dtype: int64